export(process_matrix)
export(slfm)
export(slfm_list)
export(slfm_r)
importFrom(Rcpp,evalCpp)
importFrom(coda,HPDinterval)
importFrom(coda,as.mcmc)
importFrom(lattice,bwplot)
importFrom(lattice,levelplot)
importFrom(reshape,melt)
importFrom(tools,file_path_sans_ext)
useDynLib(slfm)
